<%= form_with model: user_diary, url: url do |form| %>
  <div class="row mb-3">
    <p class="mb-1 p-0 text-end" id="user_diary_title-count-area">0/0</p>
    <%= form.label :title, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :title,
                        class: 'col-sm-10 js-text-count-target',
                        data: { max_length: UserDiary.max_length(:title) }  %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user_diary, attribute: :title } %>
  </div>

  <div class="row mb-3">
    <p class="mb-1 p-0 text-end" id="user_diary_body-count-area">0/0</p>
    <%= form.label :body, class: 'col-sm-2 col-form-label' %>
    <%= form.text_area :body,
                        class: 'col-sm-10 js-text-count-target',
                        data: { max_length: UserDiary.max_length(:body) }  %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user_diary, attribute: :body } %>
  </div>

  <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <%= form.submit t('user_diaries.form.links.submit'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
