<h1 class="my-5 text-center"><%= t('sessions.new.title') %></h1>

<%= form_with(scope: :session, url: login_path) do |form| %>
  <div class="row mb-3">
    <%= form.label :email, User.human_attribute_name(:email), class: 'col-sm-3 col-form-label' %>
    <%= form.text_field :email, class: 'col-sm-9' %>
  </div>

  <div class="row mb-3">
    <%= form.label :password,
                   User.human_attribute_name(:password),
                   class: 'col-sm-3 col-form-label' %>
    <%= form.password_field :password, class: 'col-sm-9' %>
  </div>

  <div class="d-grid gap-2">
    <%= form.submit t('sessions.new.buttons.create'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
