<%= form_with model: user_post do |form| %>
  <div class="row mb-3">
    <%= form.label :body, class: 'col-sm-2 col-form-label' %>
    <%= form.text_area :body, class: 'col-sm-10' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user_post, attribute: :body } %>
  </div>

  <%= form.collection_check_boxes(:tag_ids,
                                  @tags,
                                  :id,
                                  :name,
                                  include_hidden: false) do |tag| %>
    <% tag.label do %>
      <div class="form-check form-check-inline">
        <%= tag.check_box class: 'form-check-input' %>
        <label class="form-check-label"for="user_post_tag_ids_<%= tag.object.id %>">
          <%= tag.object.name %>
        </label>
      </div>
    <% end %>
  <% end %>

  <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <%= form.submit t('user_posts.form.links.submit'), class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
