<%= form_with model: user_post do |form| %>
  <div class="form">
    <%= form.label :body %>
    <%= form.text_area :body %>
    <div class="error_messages">
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user_post, attribute: :body } %>
    </div>
  </div>

  <div class="buttons">
    <%= form.submit t('user_posts.form.links.submit') %>
  </div>
<% end %>
