<div class="user-posts">
  <h1><%= t('user_posts.index.title') %></h1>

  <% if current_user.authorized?('user_posts', 'new') %>
    <p class="button"><%= link_to t('user_posts.index.links.new'), new_user_post_path %></p>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.user_post.id') %></th>
        <th><%= t('activerecord.attributes.user_post.body') %></th>
        <th><%= t('user_posts.index.labels.tag_name') %></th>
        <th><%= t('user_posts.index.labels.posted_by') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_posts.each do |user_post| %>
        <tr>
          <td><%= user_post.id %></td>
          <td>
            <%= user_post.body %>
          </td>
          <td>
            <% user_post.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
          <td><%= user_post.user.name %></td>
          <td>
            <%= link_to t('user_posts.index.links.comment'),
                        user_post_user_post_comments_path(user_post) %>
          </td>
          <td><%= link_to t('user_posts.index.links.edit'), edit_user_post_path(user_post) %></td>
          <td>
            <%= link_to t('user_posts.index.links.delete'),
                        user_post_path(user_post),
                        method: :delete,
                        data: { confirm: t('user_posts.index.confirm.delete') } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= link_to_unless @pages[:current_page] == 1,
                       t('user_posts.index.links.previous_page'),
                       user_posts_path(page: @pages[:current_page] - 1) %>
    <%= @pages[:current_page] %>
    <%= link_to_unless @pages[:current_page] == @pages[:last_page],
                       t('user_posts.index.links.next_page'),
                       user_posts_path(page: @pages[:current_page] + 1) %>
  </div>
</div>
