<div class="user-post-comments">
  <h1 class="mb-5"><%= t('user_post_comments.index.title') %></h1>

  <% if current_user.authorized?('user_post_comments', 'create') %>
    <%= form_with model: @user_post_comment,
                  url: user_post_user_post_comments_path(@user_post),
                  class: 'mb-4' do |form| %>
      <div class="row mb-3">
        <%= form.label :body, class: 'col-sm-2 col-form-label' %>
        <%= form.text_area :body, class: 'col-sm-10' %>
      </div>
      <div class="error_messages">
        <%= render partial: 'shared/attribute_error_messages',
                   locals: { model: @user_post_comment, attribute: :body } %>
      </div>

      <div class="d-grid gap-3 d-md-flex justify-content-md-end">
        <%= form.submit t('user_post_comments.index.links.submit'),
                        class: 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  <% end %>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.user_post_comment.id') %></th>
        <th><%= t('activerecord.attributes.user_post_comment.body') %></th>
        <th><%= t('activerecord.attributes.user_post_comment.commented_by') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user_post_comments.each do |user_post_comment| %>
        <tr>
          <td><%= user_post_comment.id %></td>
          <td><%= user_post_comment.body %></td>
          <td><%= user_post_comment.commented_by %></td>
          <td>
            <%= link_to t('user_post_comments.index.links.delete'),
                        user_post_user_post_comment_path(user_post_comment.user_post_id,
                                                         user_post_comment),
                        method: :delete,
                        data: { confirm: t('user_post_comments.index.confirm.delete') },
                        class: 'text-decoration-none' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
