<%= form_with model: user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :name } %>
    </div>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :email } %>
    </div>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.select :gender,
                    User.genders.keys.map { |key| [t("enums.user.gender.#{key}"), key] },
                    include_blank: true %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :gender } %>
    </div>
  </div>

  <div>
    <%= form.label :birthday %>
    <%= form.date_select :birthday,
                         prompt: '--',
                         use_month_numbers: true,
                         start_year: Time.now.year,
                         end_year: 1900,
                         date_separator: '/ ' %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :birthday } %>
    </div>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :password } %>
    </div>
  </div>

  <div>
    <%= form.label :password_confirmation,
                   t('activerecord.attributes.user.password_confirmation') %>
    <%= form.password_field :password_confirmation %>
    <div class='error_messages'>
      <%= render partial: 'shared/attribute_error_messages',
                 locals: { model: user, attribute: :password_confirmation } %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
