<%= form_with model: user, class: 'max-auto' do |form| %>
  <div class="row mb-3">
    <%= form.label :name, class: 'col-sm-3 col-form-label' %>
    <%= form.text_field :name, class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :name } %>
  </div>

  <div class="row mb-3">
    <%= form.label :email, class: 'col-sm-3 col-form-label' %>
    <%= form.text_field :email, class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :email } %>
  </div>

  <div class="row mb-3">
    <%= form.label :gender, class: 'col-sm-3 col-form-label' %>
    <%= form.select :gender,
                    User.genders.keys.map { |key| [t("enums.user.gender.#{key}"), key] },
                    { include_blank: true },
                    class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :gender } %>
  </div>

  <div class="row mb-3">
    <%= form.label :birthday, class: 'col-sm-3 col-form-label' %>
    <%= form.date_field :birthday, class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :birthday } %>
  </div>

  <div class="row mb-3">
    <%= form.label :password, class: 'col-sm-3 col-form-label' %>
    <%= form.password_field :password, class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :password } %>
  </div>

  <div class="row mb-3">
    <%= form.label :password_confirmation,
                   t('activerecord.attributes.user.password_confirmation'),
                   class: 'col-sm-3 col-form-label' %>
    <%= form.password_field :password_confirmation, class: 'col-sm-9' %>
    <%= render partial: 'shared/attribute_error_messages',
               locals: { model: user, attribute: :password_confirmation } %>
  </div>

  <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
