<div class="users">
  <h1 class="fs-2 mb-0"><%= t('users.index.title') %></h1>

  <% if current_user.authorized?('users', 'new') %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
      <%= link_to t('users.index.links.new'), new_user_path, class: 'btn btn-primary btn-sm' %>
    </div>
  <% end %>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:gender) %></th>
        <th><%= User.human_attribute_name(:birthday) %></th>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%= User.human_attribute_name(:updated_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, user, class: 'text-decoration-none' %></td>
          <td><%= user.email %></td>
          <td><%= t("enums.user.gender.#{user.gender}") %></td>
          <td><%= user.birthday %></td>
          <td><%= user.created_at.strftime("%F") %></td>
          <td><%= user.updated_at.strftime("%F") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
