<h1>アカウント名: <%= @user.name %></h1>
<p>性別: <%= @user.gender_in_japanese %></p>
<p>誕生日: <%= @user.birthday %></p>

<ul>
  <li><%= link_to 'ユーザー一覧ページへ', users_path %></li>
  <li><%= link_to 'ユーザー編集ページへ', edit_user_path(@user) %></li>
</ul>
