<div class="users">
  <h1><%= t('users.show.title') %></h1>

  <div class="user-profile">
    <p>
      <%= "#{User.human_attribute_name(:name)}:" %>
      <%= @user.name %>
    </p>

    <p>
      <%= "#{User.human_attribute_name(:gender)}:" %>
      <%= t("enums.user.gender.#{@user.gender}") %>
    </p>

    <p>
      <%= "#{User.human_attribute_name(:birthday)}:" %>
      <%= @user.birthday %>
    </p>

    <p>
      <%= "#{UserAddress.human_attribute_name(:postal_code)}:" %>
      <% if @user.user_address %>
        <%= @user.user_address.postal_code %>
      <% else %>
        <%= t('users.show.values.none') %>
      <% end %>
    </p>

    <p>
      <%= "#{t('users.show.labels.address')}:" %>
      <% if @user.user_address %>
        <%= @user.user_address.full_address %>
      <% else %>
        <%= t('users.show.values.none') %>
      <% end %>
    </p>
  </div>

  <% if current_user.authorized?('users', 'edit') %>
    <p class="button edit-user">
      <%= link_to t('users.show.links.users.edit'), edit_user_path(@user) %>
    </p>
  <% end %>

  <% if current_user.authorized?('user_addresses', 'edit') %>
    <p class="button edit-user-addresses">
      <%= link_to t('users.show.links.user_addresses.edit'), edit_user_user_address_path(@user) %>
    </p>
  <% end %>

  <% if current_user.authorized?('authorizations', 'edit') %>
    <p class="button edit-user-authorizations">
      <%= link_to t('users.show.links.authorizations.edit'), edit_user_authorizations_path(@user) %>
    </p>
  <% end %>

  <% if current_user.authorized?('users', 'destroy') %>
    <p class="button delete-user">
      <%= link_to t('users.show.links.users.delete'),
                  user_path(@user),
                  method: :delete,
                  data: { confirm: t('users.show.confirm.delete', name: @user.name) } %>
    </p>
  <% end %>
</div>
