<h1><%= t('users.show.title') %></h1>

<p>
  <%= "#{User.human_attribute_name(:name)}:" %>
  <%= @user.name %>
</p>

<p>
  <%= "#{User.human_attribute_name(:gender)}:" %>
  <%= @user.gender_in_japanese %>
</p>

<p>
  <%= "#{User.human_attribute_name(:birthday)}:" %>
  <%= @user.birthday %>
</p>

<ul>
  <li><%= link_to t('users.show.links.index'), users_path %></li>
  <li><%= link_to t('users.show.links.edit'), edit_user_path(@user) %></li>
  <li><%= link_to t('users.show.links.delete'),
                  user_path(@user),
                  method: :delete,
                  data: { confirm: "#{@user.name}を削除しますか？" } %></li>
</ul>
