<div class="schedules">
  <h1><%= t('schedules.index.title') %></h1>

  <h3 class="form-title">検索</h2>
  <%= form_with(scope: :search,
                url: search_schedules_path,
                method: :get,
                local: true) do |form| %>
    <div class="form">
      <%= form.label :name, t('schedules.index.labels.search.name') %>
      <%= form.text_field :name, value: @schedules_search_params[:name] %>
    </div>

    <div class="buttons">
      <%= form.submit t('schedules.index.links.search') %>
      <p class="button reset">
        <%= link_to t('schedules.index.links.reset'), schedules_path %>
      </p>
    </div>
  <% end %>

  <% if current_user.authorized?('schedules', 'new') %>
    <p class="button new-schedule">
      <%= link_to t('schedules.index.links.new'), new_schedule_path %>
    </p>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th><%= Schedule.human_attribute_name(:id) %></th>
        <th><%= Schedule.human_attribute_name(:name) %></th>
        <th><%= Schedule.human_attribute_name(:scheduled_for) %></th>
        <th><%= Schedule.human_attribute_name(:scheduled_by) %></th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.id %></td>
          <td><%= link_to schedule.name, schedule %></td>
          <td><%= l(schedule.scheduled_for, format: :long) %></td>
          <td><%= schedule.scheduled_by %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
