<div class="schedules">
  <h1 class="mb-5"><%= t('schedules.show.title') %></h1>

  <div class="schedule-detail">
    <p>
      <%= "#{Schedule.human_attribute_name(:name)}:" %>
      <%= @schedule.name %>
    </p>

    <p>
      <%= "#{Schedule.human_attribute_name(:scheduled_for)}:" %>
      <%= l(@schedule.scheduled_for, format: :long) %>
    </p>

    <p>
      <%= "#{Schedule.human_attribute_name(:scheduled_by)}:" %>
      <%= @schedule.scheduled_by %>
    </p>

    <p>
      <%= "#{Schedule.human_attribute_name(:created_at)}:" %>
      <%= l(@schedule.created_at, format: :long) %>
    </p>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <% if current_user.authorized?('schedules', 'edit') %>
      <%= link_to t('schedules.show.links.edit'),
                  edit_schedule_path(@schedule),
                  class: 'btn btn-primary btn-sm' %>
    <% end %>

    <% if current_user.authorized?('schedules', 'destroy') %>
      <%= link_to t('schedules.show.links.delete'),
                  schedule_path(@schedule),
                  method: :delete,
                  data: { confirm: t('schedules.show.confirm.delete', name: @schedule.name) },
                  class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
