<div class="events">
  <h1 class="fs-2 mb-0"><%= t('events.index.title') %></h1>

  <div class="d-grid gap-3 d-md-flex justify-content-md-end mb-2">
    <% if current_user.authorized?('events', 'search') %>
      <button class="btn btn-primary btn-sm js-toggle-form-button">検索</button>
    <% end %>
    <% if current_user.authorized?('events', 'new') %>
      <%= link_to t('events.index.links.new'), new_event_path, class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>

  <%= form_with scope: :search,
                url: search_events_path,
                method: :get,
                local: true,
                class: 'mb-4 p-4 border js-toggle-form-target' do |form| %>
    <div class="row mb-3">
      <%= form.label :title, t('events.index.labels.title'), class: 'col-sm-3 col-form-label' %>
      <%= form.text_field :title, value: @events_search_params[:title], class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :start_at, t('events.index.labels.start_at'),
                     class: 'col-sm-3 col-form-label' %>
      <%= form.datetime_field :start_at,
                              value: @events_search_params[:start_at],
                              class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :finish_at,
                     t('events.index.labels.finish_at'),
                     class: 'col-sm-3 col-form-label' %>
      <%= form.datetime_field :finish_at,
                              value: @events_search_params[:finish_at],
                              class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :min_max_participants,
                     t('events.index.labels.min_max_participants'),
                     class: 'col-sm-3 col-form-label' %>
      <%= form.select :min_max_participants,
                      Event.min_max_participants_options,
                      { include_blank: true,
                        selected: @events_search_params[:min_max_participants] },
                      class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :body, t('events.index.labels.body'), class: 'col-sm-3 col-form-label' %>
      <%= form.text_field :body, value: @events_search_params[:body], class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :host, t('events.index.labels.host'), class: 'col-sm-3 col-form-label' %>
      <%= form.text_field :host, value: @events_search_params[:host], class: 'col-sm-9' %>
    </div>

    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <%= form.submit t('events.index.links.search'), class: 'btn btn-primary btn-sm' %>
      <%= link_to t('events.index.links.reset'), events_path, class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th><%= Event.human_attribute_name(:id) %></th>
        <th><%= Event.human_attribute_name(:title) %></th>
        <th><%= t('events.index.labels.start_and_finish_datetime') %></th>
        <th><%= Event.human_attribute_name(:max_participants) %></th>
        <th><%= Event.human_attribute_name(:body) %></th>
        <th><%= Event.human_attribute_name(:host) %></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= link_to event.title, event, class: 'text-decoration-none' %></td>
          <td><%= event.start_and_finish_datetime %></td>
          <td><%= event.max_participants %></td>
          <td><%= event.body %></td>
          <td><%= event.host %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 <% if @events.empty? %>
   <%= t('events.index.messages.empty_event') %>
 <% end %>

  <%= render 'shared/pagination', pages: @pages %>
</div>
