<div class="events">
  <h1 class="fs-2 mb-5"><%= t('events.show.title') %></h1>

  <div class="event-profile">
    <p>
      <%= "#{Event.human_attribute_name(:title)}:" %>
      <%= @event.title %>
    </p>

    <p>
      <%= "#{t('events.show.labels.start_and_finish_datetime')}:" %>
      <%= @event.start_and_finish_datetime %>
    </p>

    <p>
      <%= "#{Event.human_attribute_name(:max_participants)}:" %>
      <%= @event.max_participants %>
    </p>

    <p>
      <%= "#{Event.human_attribute_name(:body)}:" %>
      <%= @event.body %>
    </p>

    <p>
      <%= "#{Event.human_attribute_name(:host)}:" %>
      <%= @event.host %>
    </p>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <% if current_user.authorized?('events', 'edit') %>
      <%= link_to t('events.show.links.edit'),
                  edit_event_path(@event),
                  class: 'btn btn-primary btn-sm' %>
    <% end %>

    <% if current_user.authorized?('events', 'destroy') %>
      <%= link_to t('events.show.links.delete'),
                  event_path(@event),
                  method: :delete,
                  data: { confirm: t('events.show.confirm.delete', title: @event.title) },
                  class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
