<div class="todos">
  <h1 class="mb-5"><%= t('todos.index.title') %></h1>

  <p class="fw-bold mb-2">イベント検索</p>
  <%= form_with scope: :search,
                url: search_todos_path,
                method: :get,
                local: true,
                class: 'mb-4' do |form| %>
    <div class="row mb-3">
      <%= form.label :due_date,
                     Todo.human_attribute_name(:due_date),
                     class: 'col-sm-3 col-form-label' %>
      <%= form.date_field :due_date,
                     value: @todos_search_params[:due_date],
                     class: 'col-sm-9' %>
    </div>

    <div class="row mb-3">
      <%= form.label :completed_date,
                     Todo.human_attribute_name(:completed_date),
                     class: 'col-sm-3 col-form-label' %>
      <%= form.date_field :completed_date,
                     value: @todos_search_params[:completed_date],
                     class: 'col-sm-9' %>
    </div>

    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <%= form.submit t('todos.index.links.search'), class: 'btn btn-primary btn-sm' %>
      <%= link_to t('todos.index.links.reset'), todos_path, class: 'btn btn-danger btn-sm' %>
    </div>
  <% end %>

  <% if @search_time %>
    <%= t('todos.index.search_time', search_time: @search_time) %>
  <% end %>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th><%= Todo.human_attribute_name(:id) %></th>
        <th><%= Todo.human_attribute_name(:name) %></th>
        <th><%= Todo.human_attribute_name(:due_date) %></th>
        <th><%= Todo.human_attribute_name(:completed_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.id %></td>
          <td><%= todo.name %></td>
          <td><%= todo.due_date.strftime("%F") %></td>
          <td><%= todo.completed_date.strftime("%F") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
