<div class="todos">
  <h1><%= t('todos.index.title') %></h1>

  <h3 class="form-title"><%= t('todos.index.form_title') %></h2>
  <%= form_with(scope: :search,
                url: search_todos_path,
                method: :get,
                local: true) do |form| %>
    <div class="form">
      <%= form.label :due_date, Todo.human_attribute_name(:due_date) %>
      <%= form.date_field :due_date, value: @todos_search_params[:due_date] %>
    </div>

    <div class="form">
      <%= form.label :completed_date, Todo.human_attribute_name(:completed_date) %>
      <%= form.date_field :completed_date, value: @todos_search_params[:completed_date] %>
    </div>

    <div class="buttons">
      <%= form.submit t('todos.index.links.search') %>
      <p class="button reset">
        <%= link_to t('todos.index.links.reset'), todos_path %>
      </p>
    </div>
  <% end %>

  <% if @search_time %>
    <%= t('todos.index.search_time', search_time: @search_time) %>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th><%= Todo.human_attribute_name(:id) %></th>
        <th><%= Todo.human_attribute_name(:name) %></th>
        <th><%= Todo.human_attribute_name(:due_date) %></th>
        <th><%= Todo.human_attribute_name(:completed_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.id %></td>
          <td><%= todo.name %></td>
          <td><%= todo.due_date.strftime("%F") %></td>
          <td><%= todo.completed_date.strftime("%F") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
