<div class="products">
  <h1><%= t('products.index.title') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= Product.human_attribute_name(:id) %></th>
        <th><%= Product.human_attribute_name(:name) %></th>
        <th><%= Product.human_attribute_name(:price) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= t('products.index.values.price', price: product.price) %></td>
          <td><%= link_to t('products.index.links.add_product_to_cart'),
                          add_product_to_cart_product_path(product),
                          method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
