<div class="products">
  <h1 class="fs-2 mb-0"><%= t('products.index.title') %></h1>

  <% if current_user.authorized?('carts', 'show') %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
      <%= link_to t('products.index.links.carts.show'),
                  cart_path,
                  class: 'btn btn-primary btn-sm' %>
    </div>
  <% end %>

  <table class="table table-striped border">
    <thead>
      <tr>
        <th><%= Product.human_attribute_name(:id) %></th>
        <th><%= Product.human_attribute_name(:name) %></th>
        <th><%= Product.human_attribute_name(:price) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= t('products.index.values.price', price: product.price) %></td>
          <td><%= link_to t('products.index.links.carts.create'),
                          cart_path(product_id: product.id),
                          method: :post,
                          class: 'text-decoration-none' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/pagination', pages: @pages %>
</div>
